@media only screen and (max-width: 600px){

	form{

		margin-top: 15vh;
	}

	fieldset{

		width: 75%;
		height: 55vh;
		border-radius: 5px;
	}

	button,
	select,
	input{

		font-size: 14pt;
		height: 3rem;
	}

	button:focus,
	select:focus,
	input:focus{

		box-shadow: 0 0 0 0;
		border: none;
		border-bottom: 1px solid #000;
		outline: 0;

	}
	
	button{

		transition: all .2s;
		height: 4rem;
	}

	button:hover{

		border-radius: 0px 20px 0px 20px;
		border-left: 5px solid #0ff;
		border-right: 5px solid #0ff;
	}
}